body{
    font-family: 'Bitter', serif;
margin: 0;
background-color: rgb(165, 19, 48);}

section{display: flex;
margin-bottom: 80px;}

.fix-width{
    width: 100%; padding-left: 2%; padding-right: 2%;}
h1{ font-family: 'Forum', cursive;
    font-size: 60px;}
h2{ font-size: 40px;}
.tight-line{line-height: 4px;}
.red-text{color: rgb(251, 53, 39);}
p{text-align: left;}
.book-button{
    text-decoration: none ;
    background-image: linear-gradient(orange, red);
    padding: 3px 100px;
    border-radius: 6px;}

.intro{padding-left: 15px;}
.gordon-pose img{width: 90%;}

.diner-interior {padding-left: 15px;}
.venue-photo {width:90%}



.whoarewe{padding-left: 15px;}
.dish-photo{width: 60%;}
